.typewriter {
  display: inline-block;
}

.typewriter h1 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid grey;
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}
