.skillList {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    margin-right: 16px;
}

.skill {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.skill span {
    font-size: calc(1rem + 1vw);
    width: calc(4rem + 12vw);
    text-align: center;
}