.slider {
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 20px;
}

.slider:hover button {
  animation: appear 0.5s ease-in-out;
  opacity: 1;
}

.slider button {
  background: none;
  border: none;
  font-size: calc(40px + 5vw);
  opacity: 0.1;
  animation: disappear 0.3s ease-in-out;
}

.previous {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5vw;
  z-index: 1;
}

.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5vw;
  z-index: 1;
}

.mainFrame {
  position: relative;
}

.prevFrame {
  position: absolute;
  left: -100%;
}

.nextFrame {
  position: absolute;
  right: -100%;
}

.frames {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.slideRight {
  animation: slideRight 0.5s ease-in-out;
}

.slideLeft {
  animation: slideLeft 0.5s ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
