.description {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 70%;
}

.photo {
    position: relative;
    height: 27vw;
    aspect-ratio: 1;
}

.slider {
    position: relative;
    margin: 1vw
}

@media screen and (max-width: 900px) {
    .description {
        width: 80%;
    }
}   