.navigation {
    min-width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    background-color: rgb(43, 1, 1);
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 5%;
}

.navigation li {
    margin: 0 1rem;
}

.logo {
    cursor: pointer;
    padding-left: 5%;
    font-size: calc(1rem + 0.8vw);
}

@media screen and (max-width: 900px) {
    .navigation ul {
        padding: 0;
    }

    .navigation li {
        margin: 0 1vw;
    }
  }