.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.grid h1 {
    text-align: center;
    margin: 1rem;
    padding: 2rem 1rem;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}

.grid h1:hover {
    transform: scale(1.05);
    border-color: rgb(133, 1, 1);
    transition: 0.5s all;
}

@media screen and (max-width: 1250px) {
    .grid {
        width: 80%;
    }
}   
