.home {
  min-height: 100vh;
  min-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greetings {
  width: 80vw;
  display: flex;
  justify-items: center;
  align-items: center;
}

.text {
  margin-right: 1rem;
  text-align: center;
}

.image {
  position: relative;
  width: 60%;
  aspect-ratio: 1;
  border-radius: 40px;
  overflow: hidden;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid h1 {
  font-size: calc(8px + 2vw);
  text-align: center;
  margin: 2vw;
  padding: 2vw 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background-color: rgb(238, 237, 237);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.grid h1:hover {
  transform: scale(1.05);
  border-color: rgb(133, 1, 1);
  transition: 0.5s all;
}

.typewriter {
  display: inline-block;
}

.typewriter h1 {
  font-size: calc(40px + 2vw);
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid grey;
  animation: typing 1.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}

@media (prefers-color-scheme: dark) {
  .grid h1 {
    border: 1px solid white;
    background: none;
    box-shadow: 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .greetings {
    flex-direction: column;
  }
}
