.button {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  width: fit-content;
  height: calc(1rem + 2vw);
  cursor: pointer;
}

.button span {
  padding: 0 0.2vw;
  margin: 0;
  position: relative;
  top: calc(-6px + 0.9vw);
  font-size: calc(5px + 0.8vw);
  letter-spacing: 0.3vw;
  z-index: 1;
}

.liquid {
  position: absolute;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  aspect-ratio: 1;
  background: #850404;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.liquid::after,
.liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -37%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(43, 1, 1, 0.349);
}

.liquid::before {
  border-radius: 45%;
  background: rgba(43, 1, 1, 0.425);
  animation: animate 7s linear infinite;
}

.liquid::after {
  border-radius: 40%;
  background: rgb(43, 1, 1);
  animation: animate 12s linear infinite;
}

.button:hover .liquid {
  top: -70%;
}

.active .liquid {
  top: -70%;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .button {
    padding: 0.5vw 4px;
    border-radius: 20px;
  }

  .button span {
    letter-spacing: 0;
  }

  .liquid {
    top: 30%;
  };
}
