.button {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  width: fit-content;
  height: calc(0.5rem + 2vw);
  cursor: pointer;
}

.button span {
  color: rgb(241, 241, 241);
  display: block;
  min-width: 2.8rem;
  padding: 0 0.2vw;
  position: relative;
  top: 20%;
  font-size: calc(5px + 0.8vw);
  letter-spacing: 0.3vw;
  z-index: 1;
  text-align: center;
}

.liquid {
  position: absolute;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  aspect-ratio: 1;
  background: #ff0000;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.liquid::after,
.liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -37%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgb(46, 1, 1);
}

.liquid::before {
  border-radius: 45%;
  background: rgba(110, 2, 2, 0.925);
  animation: animate 7s linear infinite;
}

.liquid::after {
  border-radius: 40%;
  background: rgb(121, 0, 0);
  animation: animate 12s linear infinite;
}

.button:hover .liquid {
  top: -70%;
}

.active .liquid {
  top: -70%;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .button {
    padding: 0.5vw 4px;
    border-radius: 20px;
  }

  .button span {
    letter-spacing: 0;
  }

  .button:hover .liquid {
    top: -70%;
  }

  .active .liquid {
    top: -70%;
  }
}

@media (prefers-color-scheme: dark) {
  .liquid {
    background: #850404;
  }

  .liquid::after,
  .liquid::before {
    background: rgba(43, 1, 1, 0.349);
  }

  .liquid::before {
    background: rgba(43, 1, 1, 0.425);
  }
  
  .liquid::after {
    background: rgb(43, 1, 1);
  }
}
